html, body {
      display: flex;
      flex-direction: column;   /* Stacks elements vertically */
      align-items: center;      /* Centers the stack horizontally */
      margin: 0 !important;
      padding: 0 !important;
      max-width: 768px;
      width: 100%;
      height: 100%;
      -webkit-text-size-adjust: 100%; /* Prevents iOS Safari from resizing text */
      -moz-text-size-adjust: 100%;    /* Prevents Firefox Mobile from resizing text */
      text-size-adjust: 100%;         /* Standard property */
}
